body {
  background-color: aliceblue;
  
}

.posts-container {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  overflow-x: auto; 
  margin-top: 26px;
  filter:brightness(93%);
}

.post-container {
  background-color: #f0fafa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px; 
  height: 550px; 
  width: calc(25% - 40px);
}

.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  background-color: #f0fafa;
  border-bottom: 1px solid #ccc;
}

.taskbar input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.taskbar button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.taskbar button:hover {
  background-color: #0056b3;
}

.add-button {
  display: inline-block;
  padding: 8px;
  background-color: #0056b3;
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-right: 20px; 
}

.add-button:hover {
  background-color: #033b76;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}
