.profile-container {
  max-width: 500px;
  max-height: 500px;
  margin-top: 30px;
  margin-left: 30%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  backdrop-filter: blur(5px);

  
}

.profile-heading {
  font-size: 48px !important;
  color: #2b2e44;
  margin-bottom: 60px;
  margin-left: 130px;
  font-family:cursive;

}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center;
  padding: 20px;
  margin-top: -40px;
}

.profile-details p {
  font-size: 22px;
  color: #ffffff;
}

.profile-details p:first-child {
  font-weight: bold;
}

.profile-image {
  max-width: 200px;
  border-radius: 10%;
  margin-top: 5px;
}

.back-link {
  margin-top: -30px;
}

.back-link a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 400px;
}

.back-link a:hover {
  text-decoration: underline;
}

.profile-actions{
  margin-top: 10px;
}

.profile-actions1{
  margin-top: 80px;
}
.form-label {
  display: block; 
  margin-bottom: 10px; 
}
